---
import OracionInicial from "../components/OracionInicial.astro";
import Misterios from "../components/Misterios.tsx";
import OracionIntencionesSantoPadre from "../components/OracionIntencionesSantoPadre.astro";
import Jaculatorias from "../components/Jaculatorias.astro";
import Letanias from "../components/Letanias.astro";

const { cf: { timezone } } = Astro.locals.runtime
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro</title>
</head>
	<body class="bg-white dark:bg-gray-900 text-black dark:text-white">
		<div class="max-w-6xl px-8 mx-auto my-8">
			<article class="prose prose-lg dark:prose-invert max-w-none">
				<OracionInicial />
				<!-- There's a bug (somewhere) that makes solid not work with client:load directive 🥲 -->
				<Misterios client:only="solid-js" timezone={timezone} />
				<OracionIntencionesSantoPadre />
				<Jaculatorias />
				<Letanias />
			</article>

			<footer class="w-full my-8 text-center text-base font-medium">
				&copy;
				<a
					href="https://twitter.com/iksaku2"
					target="_blank"
					class="underline decoration-2 decoration-blue-500"
				>
					Jorge González
				</a>
				2020 - {new Date().getFullYear()}
			</footer>
		</div>
	</body>
</html>