<h2>Oración por las intenciones del Santo Padre</h2>
<p>
    <strong>Guía:</strong> Padre nuestro, que estas en cielo, santificado sea
    tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como
    en el cielo...
    <br />
    <strong>Todos:</strong> Danos hoy nuestro pan de cada día, perdona
    nuestras ofensas, como también nosotros perdonamos a los que nos ofenden,
    no nos dejes caer en la tentación y líbranos del mal.
</p>
<p>
    <strong>Guía:</strong> Alegrate María, llena eres de gracia, el Señor está
    contigo, bendita eres entre las mujeres y bendito es el fruto de tu
    vientre, Jesús...
    <br />
    <strong>Todos:</strong> Santa María Madre de Dios, ruega por nosotros los
    pecadores, ahora y en la hora de nuestra muerte. Amén.
</p>
<p>
    <strong>Guía:</strong> Gloria al Padre, al Hijo y al Espíritu Santo...
    <br />
    <strong>Todos:</strong> Como era en el principio, ahora y siempre, por los
    siglos de los siglos. Amén.
</p>