<h2>Oración Final</h2>
<p>
    <strong>Guía:</strong> Cordero de Dios que quitas el pecado del mundo.
    <br />
    <strong>Todos:</strong> Perdónanos Señor.
</p>
<p>
    <strong>Guía:</strong> Cordero de Dios que quitas el pecado del mundo.
    <br />
    <strong>Todos:</strong> Óyenos Señor.
</p>
<p>
    <strong>Guía:</strong> Cordero de Dios que quitas el pecado del mundo.
    <br />
    <strong>Todos:</strong> Ten piedad y misericordia de nosotros.
</p>
<p>
    <strong>Guía:</strong> Bajo tu amparo nos acogemos, Santa Madre de Dios,
    no desprecies las súplicas que te dirigimos en nuestras necesidades, antes
    bien, líbranos de todos los peligros, oh Virgen gloriosa y bendita. Ruega
    por nosotros, Santa Madre de Dios...
    <br />
    <strong>Todos:</strong> Para que seamos dignos de alcanzar las promesas de
    Nuestro Señor Jesucristo. Amén.
</p>
<p>
    <strong>Guía:</strong> Oh Dios, cuyo Unigénito Hijo, con su vida, muerte y
    resurrección, nos alcanzó el premio de la vida eterna: concédenos, a los
    que recordamos estos misterios del Santo Rosario, imitar lo que contienen
    y alcanzar lo que prometen. Por el mismo Jesucristo, nuestro Señor.
    <br />
    <strong>Todos:</strong> Amén.
</p>