<h2>Oración Inicial</h2>
<p>
    <strong>Guía:</strong> Por la Señal de la Santa Cruz, de nuestros
    enemigos libranos Señor, Dios nuestro. En el nombre del Padre, del Hijo y
    del Espíritu Santo.
    <br />
    <strong>Todos:</strong> Amén.
</p>

<p>
    <strong>Todos:</strong> Señor mío Jesucristo, Dios y Hombre verdadero,
    creador y redentor mío, por ser tú quien eres y porque te amo sobre todas
    las cosas, me pesa de todo corazón haberte ofendido. Propongo firmemente
    enmendarme, confesarme y cumplir la penitencia que me fuese impuesta,
    ofrezco mi vida, obras y trabajos en satisfacción de mis pecados.
    <br />
    Confío en tu bondad y misericordia infinita que me perdonarás por tu
    preciosa sangre, y me darás la gracia para nunca más pecar.
    <br />
    Amén.
</p>